@page "{shopId:int}"
@model WeEatRamen.Web.DetailModel
@{
    ViewData["Title"] = "Detail";
}

@if(Model.Message != null)
{
    <div class="alert alert-success">
        @Model.Message
    </div>
}

<partial name="_ShopDetailPartial" model="Model.Shop" />

<a asp-page="./List">Return to list</a>
